@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav,
  footer,
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  .print-section {
    break-inside: avoid;
  }
}
